<h1>D208 - Predictive Modeling (Task 1)</h1>
<h2>By: Jacob Colp</h2>

<h3>A1.</h3>

What features best predict initial admissions day?

<h3>A2.</h3>

The goal of the data analysis is to identify important features in distinguishing the number of days that a patient will spend in the hospital. Being able to identify this will allow the hospital to better strategize staffing, admission and overall patient care. Rather than leaving patients on more acute floors - we may be able to transfer them to long term units in an effort to enhance care for all parties.

<h3>A3.</h3>

Multiple Linear Regression follows the same assumptions as simple linear regression. Those assumptions are as follows (https://www.scribbr.com/statistics/multiple-linear-regression/):

<li>Homogeneity of Variance (Homoscedasticity): This essentially means that the variance of observations is similar among variables. So, if we look at them on a scatter plot - their spread should look pretty similar. There are specific ways to test this, but that is the most simple explanation! (https://blog.minitab.com/en/statistics-and-quality-data-analysis/dont-be-a-victim-of-statistical-hippopotomonstrosesquipedaliophobia)</li>

<li>Independence of Observations (No multicolinearity): So, I think the easiest way to understand this is with an example. And, for ease - lets use the current dataset. One instance that I have observed of multicolinearity exists between initial days and total charge. If you were to blindly evaluate the relationships between all of our variables - you would see their relationship and think "Woah!" But, if we pause for just a second and think, you would also recognize that this makes perfect sense. And, these are really going to explain the same variance within the data. You would expect the price to increase with the number of days

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns

In [2]:
med_df = pd.read_csv('medical_clean.csv')

In [3]:
med_df.describe()

,CaseOrder,Zip,Lat,Lng,Population,Children,Age,Income,VitD_levels,Doc_visits,...,TotalCharge,Additional_charges,Item1,Item2,Item3,Item4,Item5,Item6,Item7,Item8
count,10000.00000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,...,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000
mean,5000.50000,50159.323900,38.751099,-91.243080,9965.253800,2.097200,53.511700,40490.495160,17.964262,5.012200,...,5312.172769,12934.528587,3.518800,3.506700,3.511100,3.515100,3.496900,3.522500,3.494000,3.509700
std,2886.89568,27469.588208,5.403085,15.205998,14824.758614,2.163659,20.638538,28521.153293,2.017231,1.045734,...,2180.393838,6542.601544,1.031966,1.034825,1.032755,1.036282,1.030192,1.032376,1.021405,1.042312
min,1.00000,610.000000,17.967190,-174.209700,0.000000,0.000000,18.000000,154.080000,9.806483,1.000000,...,1938.312067,3125.703000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000
25%,2500.75000,27592.000000,35.255120,-97.352982,694.750000,0.000000,36.000000,19598.775000,16.626439,4.000000,...,3179.374015,7986.487755,3.000000,3.000000,3.000000,3.000000,3.000000,3.000000,3.000000,3.000000
50%,5000.50000,50207.000000,39.419355,-88.397230,2769.000000,1.000000,53.000000,33768.420000,17.951122,5.000000,...,5213.952000,11573.977735,4.000000,3.000000,4.000000,4.000000,3.000000,4.000000,3.000000,3.000000
75%,7500.25000,72411.750000,42.044175,-80.438050,13945.000000,3.000000,71.000000,54296.402500,19.347963,6.000000,...,7459.699750,15626.490000,4.000000,4.000000,4.000000,4.000000,4.000000,4.000000,4.000000,4.000000
max,10000.00000,99929.000000,70.560990,-65.290170,122814.000000,10.000000,89.000000,207249.100000,26.394449,9.000000,...,9180.728000,30566.070000,8.000000,7.000000,8.000000,7.000000,7.000000,7.000000,7.000000,7.000000

In [4]:
#Essentially boiler plate code at this point. I have just copy and pasted this from my D207 project
#This just renames our survey question columns to be less ambiguous

med_df.rename({'Item1':'Survey_Timely_Admission', 'Item2':'Survey_Timely_Treatment', 'Item3':'Survey_Timely_Visits', 'Item4':'Survey_Reliability', 'Item5':'Survey_Options', 'Item6':'Survey_Hours_of_Treatment','Item7':'Survey_Courteous_Staff', 'Item8':'Survey_Evidence_of_Active_Listening'},axis=1, inplace=True)

med_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 50 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   CaseOrder                            10000 non-null  int64
 1   Customer_id                          10000 non-null  object
 2   Interaction                          10000 non-null  object
 3   UID                                  10000 non-null  object
 4   City                                 10000 non-null  object
 5   State                                10000 non-null  object
 6   County                               10000 non-null  object
 7   Zip                                  10000 non-null  int64
 8   Lat                                  10000 non-null  float64
 9   Lng                                  10000 non-null  float64
 10  Population                           10000 non-null  int64
 11  Area                                 10000 non-null  object
 12  TimeZone                             10000 non-null  object
 13  Job                                  10000 non-null  object
 14  Children                             10000 non-null  int64
 15  Age                                  10000 non-null  int64
 16  Income                               10000 non-null  float64
 17  Marital                              10000 non-null  object
 18  Gender                               10000 non-null  object
 19  ReAdmis                              10000 non-null  object
 20  VitD_levels                          10000 non-null  float64
 21  Doc_visits                           10000 non-null  int64
 22  Full_meals_eaten                     10000 non-null  int64
 23  vitD_supp                            10000 non-null  int64
 24  Soft_drink                           10000 non-null  object
 25  Initial_admin                        10000 non-null  object
 26  HighBlood                            10000 non-null  object
 27  Stroke                               10000 non-null  object
 28  Complication_risk                    10000 non-null  object
 29  Overweight                           10000 non-null  object
 30  Arthritis                            10000 non-null  object
 31  Diabetes                             10000 non-null  object
 32  Hyperlipidemia                       10000 non-null  object
 33  BackPain                             10000 non-null  object
 34  Anxiety                              10000 non-null  object
 35  Allergic_rhinitis                    10000 non-null  object
 36  Reflux_esophagitis                   10000 non-null  object
 37  Asthma                               10000 non-null  object
 38  Services                             10000 non-null  object
 39  Initial_days                         10000 non-null  float64
 40  TotalCharge                          10000 non-null  float64
 41  Additional_charges                   10000 non-null  float64
 42  Survey_Timely_Admission              10000 non-null  int64
 43  Survey_Timely_Treatment              10000 non-null  int64
 44  Survey_Timely_Visits                 10000 non-null  int64
 45  Survey_Reliability                   10000 non-null  int64
 46  Survey_Options                       10000 non-null  int64
 47  Survey_Hours_of_Treatment            10000 non-null  int64
 48  Survey_Courteous_Staff               10000 non-null  int64
 49  Survey_Evidence_of_Active_Listening  10000 non-null  int64
dtypes: float64(7), int64(16), object(27)
memory usage: 3.8+ MB

In [6]:
#Essentially boiler plate code at this point. I have just copy and pasted this from my D207 project
#This encodes categorical variables into numeric values. For our binary - it replaces yes and no with 1 and 0. For complication risk - it encodes High, Medium and Low with ordinal values of 1,2, and 3.

med_df.Complication_risk.replace({'High':3,'Medium':2,'Low':1}, inplace=True)

for x in med_df:
    if med_df[x].dtype == 'object':
        med_df[x].replace({'Yes':1,'No':0}, inplace=True)
    else:
        continue

for x in med_df:
    print(med_df[x].value_counts())

1        1
6671     1
6664     1
6665     1
6666     1
        ..
3334     1
3335     1
3336     1
3337     1
10000    1
Name: CaseOrder, Length: 10000, dtype: int64
C412403    1
D294364    1
B203210    1
C20177     1
K216020    1
          ..
J694995    1
N704840    1
A197688    1
H115454    1
I569847    1
Name: Customer_id, Length: 10000, dtype: int64
8cd49b13-f45a-4b47-a2bd-173ffa932c2f    1
dc1799a6-61d1-44a3-9b94-b89584baddfc    1
dc6bab10-659b-4c78-ba87-87ffa3def32f    1
1cb70cc8-47b7-4192-8bed-faad0f27ab3b    1
06d0da86-5600-472d-a35d-7632775b5cd7    1
                                       ..
2d5c049d-0431-443f-a9d7-46f875998599    1
4ccc7838-5c2c-4a3c-9e3b-2a646cec157e    1
4767cd0e-626d-4c5a-834e-a948aba315c2    1
8b1e1ea3-e596-4a97-b2cb-7f9926e9fbee    1
bc482c02-f8c9-4423-99de-3db5e62a18d5    1
Name: Interaction, Length: 10000, dtype: int64
3a83ddb66e2ae73798bdf1d705dc0932    1
5d85418e862aab28ed18975446153694    1
28970195a839f74e572d2f43bd7fcb71    1
24665d1c5070b579d0c190324599ca6d    1
2d42fd6803d96fcffe64d3fcaab430dc    1
                                   ..
ce28b38948f9737918e240d8ce6b275f    1
d98f314ddd12ca99e05858219127a06e    1
43e47521f56f27d0fc8e00ba7141de1b    1
ffd9be64812b5e36ba9367abe51be705    1
95663a202338000abdf7e09311c2a8a1    1
Name: UID, Length: 10000, dtype: int64
Houston             36
San Antonio         26
Springfield         22
New York            21
Miami               21
                    ..
Coyote               1
Tiline               1
Monon                1
Sullivans Island     1
Coraopolis           1
Name: City, Length: 6072, dtype: int64
TX    553
CA    550
PA    547
NY    514
IL    442
OH    383
MO    328
FL    304
VA    287
IA    276
MI    273
MN    267
NC    254
GA    247
KS    220
WI    214
KY    210
OK    207
WV    207
IN    195
AL    194
TN    194
WA    191
AR    190
NE    185
CO    179
NJ    176
LA    173
MA    149
MS    134
MD    131
SC    128
SD    123
ME    122
OR    122
MT    112
NM    110
ID    109
ND    108
AZ    108
CT     80
NH     79
UT     72
AK     70
VT     60
NV     51
WY     51
PR     43
HI     34
DE     17
RI     14
DC     13
Name: State, dtype: int64
Jefferson      118
Washington     100
Franklin        93
Los Angeles     88
Montgomery      80
              ...
Jenkins          1
Sully            1
Panola           1
Kandiyohi        1
Sterling         1
Name: County, Length: 1607, dtype: int64
25674    4
78104    4
68355    4
62098    4
24136    4
        ..
18337    1
58442    1
71353    1
81612    1
15108    1
Name: Zip, Length: 8612, dtype: int64
36.06702    4
33.34798    4
35.25512    4
39.38610    4
37.86890    4
           ..
41.00911    1
39.20560    1
46.36035    1
34.96563    1
40.49998    1
Name: Lat, Length: 8588, dtype: int64
-90.30464     4
-94.39542     4
-80.59756     4
-84.59579     4
-95.56405     4
             ..
-121.03097    1
-74.00429     1
-76.95300     1
-111.96820    1
-80.19959     1
Name: Lng, Length: 8725, dtype: int64
0        109
195       14
115       11
178       11
285       11
        ...
8092       1
11147      1
27175      1
7371       1
41524      1
Name: Population, Length: 5951, dtype: int64
Rural       3369
Suburban    3328
Urban       3303
Name: Area, dtype: int64
America/New_York                  3889
America/Chicago                   3771
America/Los_Angeles                937
America/Denver                     612
America/Detroit                    262
America/Indiana/Indianapolis       151
America/Phoenix                    100
America/Boise                       86
America/Anchorage                   50
America/Puerto_Rico                 43
Pacific/Honolulu                    34
America/Menominee                   14
America/Nome                        12
America/Indiana/Vincennes            8
America/Kentucky/Louisville          6
America/Sitka                        6
America/Toronto                      5
America/Indiana/Marengo              3
America/Indiana/Tell_City            3
America/North_Dakota/Beulah          2
America/Yakutat                      1
America/Indiana/Winamac              1
America/Indiana/Knox                 1
America/North_Dakota/New_Salem       1
America/Indiana/Vevay                1
America/Adak                         1
Name: TimeZone, dtype: int64
Outdoor activities/education manager     29
Exhibition designer                      27
Theatre director                         27
Scientist, audiological                  26
Toxicologist                             25
                                         ..
Government social research officer        6
Phytotherapist                            6
Engineer, control and instrumentation     6
Public relations account executive        6
Licensed conveyancer                      6
Name: Job, Length: 639, dtype: int64
0     2548
1     2509
3     1489
2     1475
4      995
7      213
8      209
6      191
5      169
9      108
10      94
Name: Children, dtype: int64
47    161
52    159
74    159
41    157
86    156
     ...
63    123
51    122
20    120
36    118
80    116
Name: Age, Length: 72, dtype: int64
14572.40    2
20474.03    2
37132.97    2
29508.62    2
24997.02    2
           ..
41900.29    1
35093.92    1
44848.08    1
20815.96    1
62682.63    1
Name: Income, Length: 9993, dtype: int64
Widowed          2045
Married          2023
Separated        1987
Never Married    1984
Divorced         1961
Name: Marital, dtype: int64
Female       5018
Male         4768
Nonbinary     214
Name: Gender, dtype: int64
0    6331
1    3669
Name: ReAdmis, dtype: int64
18.135431    2
15.939760    2
17.821860    2
20.184170    2
18.741340    2
            ..
18.825293    1
16.849021    1
15.111106    1
20.583694    1
18.388620    1
Name: VitD_levels, Length: 9976, dtype: int64
5    3823
6    2436
4    2385
7     634
3     595
8      61
2      58
1       6
9       2
Name: Doc_visits, dtype: int64
0    3715
1    3615
2    1856
3     612
4     169
5      25
6       6
7       2
Name: Full_meals_eaten, dtype: int64
0    6702
1    2684
2     544
3      64
4       5
5       1
Name: vitD_supp, dtype: int64
0    7425
1    2575
Name: Soft_drink, dtype: int64
Emergency Admission      5060
Elective Admission       2504
Observation Admission    2436
Name: Initial_admin, dtype: int64
0    5910
1    4090
Name: HighBlood, dtype: int64
0    8007
1    1993
Name: Stroke, dtype: int64
2    4517
3    3358
1    2125
Name: Complication_risk, dtype: int64
1    7094
0    2906
Name: Overweight, dtype: int64
0    6426
1    3574
Name: Arthritis, dtype: int64
0    7262
1    2738
Name: Diabetes, dtype: int64
0    6628
1    3372
Name: Hyperlipidemia, dtype: int64
0    5886
1    4114
Name: BackPain, dtype: int64
0    6785
1    3215
Name: Anxiety, dtype: int64
0    6059
1    3941
Name: Allergic_rhinitis, dtype: int64
0    5865
1    4135
Name: Reflux_esophagitis, dtype: int64
0    7107
1    2893
Name: Asthma, dtype: int64
Blood Work     5265
Intravenous    3130
CT Scan        1225
MRI             380
Name: Services, dtype: int64
63.544320    2
67.421390    2
70.325420    2
63.334690    1
67.036510    1
            ..
5.977596     1
5.799041     1
6.415853     1
7.328631     1
70.850590    1
Name: Initial_days, Length: 9997, dtype: int64
7555.452000    2
7964.681000    2
8081.346000    2
3726.702860    1
8449.859000    1
              ..
2345.477165    1
3672.779714    1
3392.003760    1
3866.635381    1
7887.553000    1
Name: TotalCharge, Length: 9997, dtype: int64
24109.572640    3
25325.816470    3
6315.622130     3
11995.005160    3
4880.460246     3
               ..
23226.177810    1
12415.288840    1
28931.863720    1
7219.133007     1
11643.190000    1
Name: Additional_charges, Length: 9418, dtype: int64
4    3455
3    3404
5    1377
2    1315
6     225
1     213
7      10
8       1
Name: Survey_Timely_Admission, dtype: int64
3    3439
4    3351
5    1421
2    1360
1     213
6     204
7      12
Name: Survey_Timely_Treatment, dtype: int64
4    3464
3    3379
5    1358
2    1356
6     220
1     211
7      11
8       1
Name: Survey_Timely_Visits, dtype: int64
3    3422
4    3394
5    1388
2    1346
6     231
1     207
7      12
Name: Survey_Reliability, dtype: int64
4    3446
3    3423
2    1380
5    1308
6     219
1     211
7      13
Name: Survey_Options, dtype: int64
4    3464
3    3371
5    1403
2    1319
6     220
1     213
7      10
Name: Survey_Hours_of_Treatment, dtype: int64
4    3487
3    3456
2    1345
5    1274
1     215
6     212
7      11
Name: Survey_Courteous_Staff, dtype: int64
3    3401
4    3337
5    1429
2    1391
6     221
1     209
7      12
Name: Survey_Evidence_of_Active_Listening, dtype: int64