<h1>D208 - Predictive Modeling (Task 2)</h1>
<h2>By: Jacob Colp</h2>

<h3>A1.</h3>

Will a patient be a long-term or short-term stay on their initial admin?

To make it more apparent how this will be answered with logistic regression - we will define longterm stay as >7 days. Then we can use feature engineering to classify the patients that we have data on. Therefore - a True value would be a long-term stay and a False value would be short-term. We have implemented something similar on my team at work. It uses a more advanced classification model, but we have implemented the model for hospice patients. We found it far more beneficial in a clinical setting and more accurate than attempting to estimate the actual number of days a patient would be in hospice. Kind of morbid, but it does help greatly in informing care strategy.

<h3>A2.</h3>

The ultimate goal of my data analysis will be to identify key features in classifying patients as long-term or short-term stay patients. This is a slight itteration (or generalization - depending on how you view it) on the linear model that I implemented in the first assessment. The ideal outcome would be to implement this model in a clinical setting in a way that can inform patient care. From attending nursing school - it is well known in the medical space that a patients perception of the environment can greatly impact recovery. If a caretaker knows that a patient is going to spend an extended time in their care - it may be beneficial to make certain changes in the way they are cared for. Can we be less aggressive in our assessments to allow them time to rest? Can we have their family bring in things from home that make them feel comfortable? Can we have better continuity of care so they have time to build relationships with their care team? Can we stagger procedures to reduce stress? All of these are critical decisions that can greatly impact patient outcomes. If a patient can be classified based off of data gathered during an initial assessment - the decisions can be made earlier and hopefully improve patient outcomes and experience.

<h3>B1.</h3>

There are 5 basic assumptions within the implementation of a logistic regression model. The assumptions are as follows: 

<li>Response variable is binary: In simplest terms - this going to mean that our dependent vraible has one of two outcomes. One outcome is going to be affirmative and one will indicate opposition. Some examples of that would 1 and 0, or True and False, etc.. In our research question - this will be indicated by long-term stay or short-term stay. Our affirmative response being long-term.</li>
<li>Observations are independent: This is going to mean that our observations are not repeating. We are not going to have duplicate individuals. Each person gets one measurement and one measurement only.</li>
<li>No Multicollinearity in Independent Variables: This assumption has a big word, so it is perhaps the most intimidating at this juncture. However, I believe it is easiest to understand with an example from our current dataset. When choosing variables to feed our model - we are looking for variables that provide unique information. Variables that provide unique variance. Take a look at initial days and total charge. Their variance is almost identical. However, when you stop to think about it - that makes perfect sense! They are effectively communicating the same and the longer you stay in the hospital - the more it is going to cost.</li>
<li>No Extreme Outliers: This is going to be true for most predictive analytics. Edge cases will not benefit a model and may only serve to confuse a given model.</li>
<li>Sufficient Sample Size: A logistic model is going to assume that there is an appropriate amount of observervations for different outcomes within our independent variables. The more rare a given outcome - the the fewer observations needed. The calculation to decide if we do in fact have a large enough sample size is the number of independent variables (i.e. 7) multiplied by 10 and divided by the probablity of the least frequent outcome (i.e. 30%). Written out - this would like (7*10)/.30 = 233. So, in this instance - we would need 233 observations of our rare combination.
<br>



(https://www.voxco.com/blog/logistic-regression-assumptions/)

<h3>B2.</h3>

I have utilized Python for all of my projects leading up to this point. The most base reasoning for that is its flexibility. In a real world setting - it is significantly to implement systems built in Python. In theory it would allow us to easily build applications for end users to interact with our outcomes. Python is far more prevelant in environments where scalability is a consideration (i.e. hospitals). Within the market - R tends to be more niche for academia and pure statistics. My team and I have utilized R from time to time, but that is mostly in one-time analysis problem sets where we are less concerned with the deliverable.

Outside of its flexibility - there is also an awesome community of people who dedicate a lot of time to developing packages for Python. A nice explanation of some packages that will be seen within this project can be found here: https://towardsdatascience.com/3-top-python-packages-to-learn-statistic-for-data-scientist-d753b76e6099. Leveraging these packages gives me, as an end-user, a very easy interface to perform my analysis. Using Scikit-Learn, you could very easily instantiate and train a model in just a few lines of code! Pandas and Numpy give me a great interface to ask, and answer, questions of my data. The dataframe implementation makes data feel familiar in its tabular form. Finally, packages like Seaborn and Matplotlib give great visualizations that can be created in just a single line of code.

In short - I find Python to be flexible, yet powerful. The syntax is second nature and allows me to make data meaningful to an external stakeholder. I can give them ways to touch and tinke with data, that don't require them to have knowledge of a programming language. Throw a plotly visualization into a quick flask app - suddenly you have an interactive playground for data. And, all of it can be done in less than 50 lines of code.

<h3>B3.</h3>

My research question is simply trying to categorize patients. Is this patient going to be here for an extended period of time? Yes or no? 1 or 0? Logistic regression is utilized within these types of problem sets. It is a model that seeks to categorize observations based upon historical data. Within a clinical setting - it gives caretakers the ability to make quick decisions. Were this to be applied in a real world scenario - we could present a simple yes or no prediction within a patients chart. Do we expect this patient to be with us for a time greater than a week? Yes or no? That type of quick data point can inform everything from the first to the last interaction and it can be communicated very quickly. It isn't ambiguous. There is no middle ground.

Additionally - I have knowledge of the efficacy of a linear regression model with this dataset (from my previous project). It yielded lackluster results at best. However, perhaps by bringing it up a level, in terms of specificity - we can provide true benefit to our stakeholders.

(https://learn.g2.com/logistic-regression)

In [11]:
import pandas as pd
import numpy as np

import seaborn as sns
from matplotlib import pyplot

In [12]:
med_df = pd.read_csv(r'medical_clean.csv')

med_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 50 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   CaseOrder           10000 non-null  int64
 1   Customer_id         10000 non-null  object
 2   Interaction         10000 non-null  object
 3   UID                 10000 non-null  object
 4   City                10000 non-null  object
 5   State               10000 non-null  object
 6   County              10000 non-null  object
 7   Zip                 10000 non-null  int64
 8   Lat                 10000 non-null  float64
 9   Lng                 10000 non-null  float64
 10  Population          10000 non-null  int64
 11  Area                10000 non-null  object
 12  TimeZone            10000 non-null  object
 13  Job                 10000 non-null  object
 14  Children            10000 non-null  int64
 15  Age                 10000 non-null  int64
 16  Income              10000 non-null  float64
 17  Marital             10000 non-null  object
 18  Gender              10000 non-null  object
 19  ReAdmis             10000 non-null  object
 20  VitD_levels         10000 non-null  float64
 21  Doc_visits          10000 non-null  int64
 22  Full_meals_eaten    10000 non-null  int64
 23  vitD_supp           10000 non-null  int64
 24  Soft_drink          10000 non-null  object
 25  Initial_admin       10000 non-null  object
 26  HighBlood           10000 non-null  object
 27  Stroke              10000 non-null  object
 28  Complication_risk   10000 non-null  object
 29  Overweight          10000 non-null  object
 30  Arthritis           10000 non-null  object
 31  Diabetes            10000 non-null  object
 32  Hyperlipidemia      10000 non-null  object
 33  BackPain            10000 non-null  object
 34  Anxiety             10000 non-null  object
 35  Allergic_rhinitis   10000 non-null  object
 36  Reflux_esophagitis  10000 non-null  object
 37  Asthma              10000 non-null  object
 38  Services            10000 non-null  object
 39  Initial_days        10000 non-null  float64
 40  TotalCharge         10000 non-null  float64
 41  Additional_charges  10000 non-null  float64
 42  Item1               10000 non-null  int64
 43  Item2               10000 non-null  int64
 44  Item3               10000 non-null  int64
 45  Item4               10000 non-null  int64
 46  Item5               10000 non-null  int64
 47  Item6               10000 non-null  int64
 48  Item7               10000 non-null  int64
 49  Item8               10000 non-null  int64
dtypes: float64(7), int64(16), object(27)
memory usage: 3.8+ MB

In [13]:
med_df.describe()

,CaseOrder,Zip,Lat,Lng,Population,Children,Age,Income,VitD_levels,Doc_visits,...,TotalCharge,Additional_charges,Item1,Item2,Item3,Item4,Item5,Item6,Item7,Item8
count,10000.00000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,...,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000
mean,5000.50000,50159.323900,38.751099,-91.243080,9965.253800,2.097200,53.511700,40490.495160,17.964262,5.012200,...,5312.172769,12934.528587,3.518800,3.506700,3.511100,3.515100,3.496900,3.522500,3.494000,3.509700
std,2886.89568,27469.588208,5.403085,15.205998,14824.758614,2.163659,20.638538,28521.153293,2.017231,1.045734,...,2180.393838,6542.601544,1.031966,1.034825,1.032755,1.036282,1.030192,1.032376,1.021405,1.042312
min,1.00000,610.000000,17.967190,-174.209700,0.000000,0.000000,18.000000,154.080000,9.806483,1.000000,...,1938.312067,3125.703000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000
25%,2500.75000,27592.000000,35.255120,-97.352982,694.750000,0.000000,36.000000,19598.775000,16.626439,4.000000,...,3179.374015,7986.487755,3.000000,3.000000,3.000000,3.000000,3.000000,3.000000,3.000000,3.000000
50%,5000.50000,50207.000000,39.419355,-88.397230,2769.000000,1.000000,53.000000,33768.420000,17.951122,5.000000,...,5213.952000,11573.977735,4.000000,3.000000,4.000000,4.000000,3.000000,4.000000,3.000000,3.000000
75%,7500.25000,72411.750000,42.044175,-80.438050,13945.000000,3.000000,71.000000,54296.402500,19.347963,6.000000,...,7459.699750,15626.490000,4.000000,4.000000,4.000000,4.000000,4.000000,4.000000,4.000000,4.000000
max,10000.00000,99929.000000,70.560990,-65.290170,122814.000000,10.000000,89.000000,207249.100000,26.394449,9.000000,...,9180.728000,30566.070000,8.000000,7.000000,8.000000,7.000000,7.000000,7.000000,7.000000,7.000000

In [14]:
#Essentially boiler plate code at this point. I have just copy and pasted this from my D207 project
#This just renames our survey question columns to be less ambiguous

med_df.rename({'Item1':'Survey_Timely_Admission', 'Item2':'Survey_Timely_Treatment', 'Item3':'Survey_Timely_Visits', 'Item4':'Survey_Reliability', 'Item5':'Survey_Options', 'Item6':'Survey_Hours_of_Treatment','Item7':'Survey_Courteous_Staff', 'Item8':'Survey_Evidence_of_Active_Listening'},axis=1, inplace=True)

med_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 50 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   CaseOrder                            10000 non-null  int64
 1   Customer_id                          10000 non-null  object
 2   Interaction                          10000 non-null  object
 3   UID                                  10000 non-null  object
 4   City                                 10000 non-null  object
 5   State                                10000 non-null  object
 6   County                               10000 non-null  object
 7   Zip                                  10000 non-null  int64
 8   Lat                                  10000 non-null  float64
 9   Lng                                  10000 non-null  float64
 10  Population                           10000 non-null  int64
 11  Area                                 10000 non-null  object
 12  TimeZone                             10000 non-null  object
 13  Job                                  10000 non-null  object
 14  Children                             10000 non-null  int64
 15  Age                                  10000 non-null  int64
 16  Income                               10000 non-null  float64
 17  Marital                              10000 non-null  object
 18  Gender                               10000 non-null  object
 19  ReAdmis                              10000 non-null  object
 20  VitD_levels                          10000 non-null  float64
 21  Doc_visits                           10000 non-null  int64
 22  Full_meals_eaten                     10000 non-null  int64
 23  vitD_supp                            10000 non-null  int64
 24  Soft_drink                           10000 non-null  object
 25  Initial_admin                        10000 non-null  object
 26  HighBlood                            10000 non-null  object
 27  Stroke                               10000 non-null  object
 28  Complication_risk                    10000 non-null  object
 29  Overweight                           10000 non-null  object
 30  Arthritis                            10000 non-null  object
 31  Diabetes                             10000 non-null  object
 32  Hyperlipidemia                       10000 non-null  object
 33  BackPain                             10000 non-null  object
 34  Anxiety                              10000 non-null  object
 35  Allergic_rhinitis                    10000 non-null  object
 36  Reflux_esophagitis                   10000 non-null  object
 37  Asthma                               10000 non-null  object
 38  Services                             10000 non-null  object
 39  Initial_days                         10000 non-null  float64
 40  TotalCharge                          10000 non-null  float64
 41  Additional_charges                   10000 non-null  float64
 42  Survey_Timely_Admission              10000 non-null  int64
 43  Survey_Timely_Treatment              10000 non-null  int64
 44  Survey_Timely_Visits                 10000 non-null  int64
 45  Survey_Reliability                   10000 non-null  int64
 46  Survey_Options                       10000 non-null  int64
 47  Survey_Hours_of_Treatment            10000 non-null  int64
 48  Survey_Courteous_Staff               10000 non-null  int64
 49  Survey_Evidence_of_Active_Listening  10000 non-null  int64
dtypes: float64(7), int64(16), object(27)
memory usage: 3.8+ MB

In [15]:
#Essentially boiler plate code at this point. I have just copy and pasted this from my D207 project
#This encodes categorical variables into numeric values. For our binary - it replaces yes and no with 1 and 0. For complication risk - it encodes High, Medium and Low with ordinal values of 1,2, and 3. I then print out the value counts again to verify its implementation.

med_df.Complication_risk.replace({'High':3,'Medium':2,'Low':1}, inplace=True)

for x in med_df:
    if med_df[x].dtype == 'object':
        med_df[x].replace({'Yes':1,'No':0}, inplace=True)
    else:
        continue

for x in med_df:
    print(med_df[x].value_counts())

1        1
6671     1
6664     1
6665     1
6666     1
        ..
3334     1
3335     1
3336     1
3337     1
10000    1
Name: CaseOrder, Length: 10000, dtype: int64
C412403    1
D294364    1
B203210    1
C20177     1
K216020    1
          ..
J694995    1
N704840    1
A197688    1
H115454    1
I569847    1
Name: Customer_id, Length: 10000, dtype: int64
8cd49b13-f45a-4b47-a2bd-173ffa932c2f    1
dc1799a6-61d1-44a3-9b94-b89584baddfc    1
dc6bab10-659b-4c78-ba87-87ffa3def32f    1
1cb70cc8-47b7-4192-8bed-faad0f27ab3b    1
06d0da86-5600-472d-a35d-7632775b5cd7    1
                                       ..
2d5c049d-0431-443f-a9d7-46f875998599    1
4ccc7838-5c2c-4a3c-9e3b-2a646cec157e    1
4767cd0e-626d-4c5a-834e-a948aba315c2    1
8b1e1ea3-e596-4a97-b2cb-7f9926e9fbee    1
bc482c02-f8c9-4423-99de-3db5e62a18d5    1
Name: Interaction, Length: 10000, dtype: int64
3a83ddb66e2ae73798bdf1d705dc0932    1
5d85418e862aab28ed18975446153694    1
28970195a839f74e572d2f43bd7fcb71    1
24665d1c5070b579d0c190324599ca6d    1
2d42fd6803d96fcffe64d3fcaab430dc    1
                                   ..
ce28b38948f9737918e240d8ce6b275f    1
d98f314ddd12ca99e05858219127a06e    1
43e47521f56f27d0fc8e00ba7141de1b    1
ffd9be64812b5e36ba9367abe51be705    1
95663a202338000abdf7e09311c2a8a1    1
Name: UID, Length: 10000, dtype: int64
Houston             36
San Antonio         26
Springfield         22
New York            21
Miami               21
                    ..
Coyote               1
Tiline               1
Monon                1
Sullivans Island     1
Coraopolis           1
Name: City, Length: 6072, dtype: int64
TX    553
CA    550
PA    547
NY    514
IL    442
OH    383
MO    328
FL    304
VA    287
IA    276
MI    273
MN    267
NC    254
GA    247
KS    220
WI    214
KY    210
OK    207
WV    207
IN    195
AL    194
TN    194
WA    191
AR    190
NE    185
CO    179
NJ    176
LA    173
MA    149
MS    134
MD    131
SC    128
SD    123
ME    122
OR    122
MT    112
NM    110
ID    109
ND    108
AZ    108
CT     80
NH     79
UT     72
AK     70
VT     60
NV     51
WY     51
PR     43
HI     34
DE     17
RI     14
DC     13
Name: State, dtype: int64
Jefferson      118
Washington     100
Franklin        93
Los Angeles     88
Montgomery      80
              ...
Jenkins          1
Sully            1
Panola           1
Kandiyohi        1
Sterling         1
Name: County, Length: 1607, dtype: int64
25674    4
78104    4
68355    4
62098    4
24136    4
        ..
18337    1
58442    1
71353    1
81612    1
15108    1
Name: Zip, Length: 8612, dtype: int64
36.06702    4
33.34798    4
35.25512    4
39.38610    4
37.86890    4
           ..
41.00911    1
39.20560    1
46.36035    1
34.96563    1
40.49998    1
Name: Lat, Length: 8588, dtype: int64
-90.30464     4
-94.39542     4
-80.59756     4
-84.59579     4
-95.56405     4
             ..
-121.03097    1
-74.00429     1
-76.95300     1
-111.96820    1
-80.19959     1
Name: Lng, Length: 8725, dtype: int64
0        109
195       14
115       11
178       11
285       11
        ...
8092       1
11147      1
27175      1
7371       1
41524      1
Name: Population, Length: 5951, dtype: int64
Rural       3369
Suburban    3328
Urban       3303
Name: Area, dtype: int64
America/New_York                  3889
America/Chicago                   3771
America/Los_Angeles                937
America/Denver                     612
America/Detroit                    262
America/Indiana/Indianapolis       151
America/Phoenix                    100
America/Boise                       86
America/Anchorage                   50
America/Puerto_Rico                 43
Pacific/Honolulu                    34
America/Menominee                   14
America/Nome                        12
America/Indiana/Vincennes            8
America/Kentucky/Louisville          6
America/Sitka                        6
America/Toronto                      5
America/Indiana/Marengo              3
America/Indiana/Tell_City            3
America/North_Dakota/Beulah          2
America/Yakutat                      1
America/Indiana/Winamac              1
America/Indiana/Knox                 1
America/North_Dakota/New_Salem       1
America/Indiana/Vevay                1
America/Adak                         1
Name: TimeZone, dtype: int64
Outdoor activities/education manager     29
Exhibition designer                      27
Theatre director                         27
Scientist, audiological                  26
Toxicologist                             25
                                         ..
Government social research officer        6
Phytotherapist                            6
Engineer, control and instrumentation     6
Public relations account executive        6
Licensed conveyancer                      6
Name: Job, Length: 639, dtype: int64
0     2548
1     2509
3     1489
2     1475
4      995
7      213
8      209
6      191
5      169
9      108
10      94
Name: Children, dtype: int64
47    161
52    159
74    159
41    157
86    156
     ...
63    123
51    122
20    120
36    118
80    116
Name: Age, Length: 72, dtype: int64
14572.40    2
20474.03    2
37132.97    2
29508.62    2
24997.02    2
           ..
41900.29    1
35093.92    1
44848.08    1
20815.96    1
62682.63    1
Name: Income, Length: 9993, dtype: int64
Widowed          2045
Married          2023
Separated        1987
Never Married    1984
Divorced         1961
Name: Marital, dtype: int64
Female       5018
Male         4768
Nonbinary     214
Name: Gender, dtype: int64
0    6331
1    3669
Name: ReAdmis, dtype: int64
18.135431    2
15.939760    2
17.821860    2
20.184170    2
18.741340    2
            ..
18.825293    1
16.849021    1
15.111106    1
20.583694    1
18.388620    1
Name: VitD_levels, Length: 9976, dtype: int64
5    3823
6    2436
4    2385
7     634
3     595
8      61
2      58
1       6
9       2
Name: Doc_visits, dtype: int64
0    3715
1    3615
2    1856
3     612
4     169
5      25
6       6
7       2
Name: Full_meals_eaten, dtype: int64
0    6702
1    2684
2     544
3      64
4       5
5       1
Name: vitD_supp, dtype: int64
0    7425
1    2575
Name: Soft_drink, dtype: int64
Emergency Admission      5060
Elective Admission       2504
Observation Admission    2436
Name: Initial_admin, dtype: int64
0    5910
1    4090
Name: HighBlood, dtype: int64
0    8007
1    1993
Name: Stroke, dtype: int64
2    4517
3    3358
1    2125
Name: Complication_risk, dtype: int64
1    7094
0    2906
Name: Overweight, dtype: int64
0    6426
1    3574
Name: Arthritis, dtype: int64
0    7262
1    2738
Name: Diabetes, dtype: int64
0    6628
1    3372
Name: Hyperlipidemia, dtype: int64
0    5886
1    4114
Name: BackPain, dtype: int64
0    6785
1    3215
Name: Anxiety, dtype: int64
0    6059
1    3941
Name: Allergic_rhinitis, dtype: int64
0    5865
1    4135
Name: Reflux_esophagitis, dtype: int64
0    7107
1    2893
Name: Asthma, dtype: int64
Blood Work     5265
Intravenous    3130
CT Scan        1225
MRI             380
Name: Services, dtype: int64
63.544320    2
67.421390    2
70.325420    2
63.334690    1
67.036510    1
            ..
5.977596     1
5.799041     1
6.415853     1
7.328631     1
70.850590    1
Name: Initial_days, Length: 9997, dtype: int64
7555.452000    2
7964.681000    2
8081.346000    2
3726.702860    1
8449.859000    1
              ..
2345.477165    1
3672.779714    1
3392.003760    1
3866.635381    1
7887.553000    1
Name: TotalCharge, Length: 9997, dtype: int64
24109.572640    3
25325.816470    3
6315.622130     3
11995.005160    3
4880.460246     3
               ..
23226.177810    1
12415.288840    1
28931.863720    1
7219.133007     1
11643.190000    1
Name: Additional_charges, Length: 9418, dtype: int64
4    3455
3    3404
5    1377
2    1315
6     225
1     213
7      10
8       1
Name: Survey_Timely_Admission, dtype: int64
3    3439
4    3351
5    1421
2    1360
1     213
6     204
7      12
Name: Survey_Timely_Treatment, dtype: int64
4    3464
3    3379
5    1358
2    1356
6     220
1     211
7      11
8       1
Name: Survey_Timely_Visits, dtype: int64
3    3422
4    3394
5    1388
2    1346
6     231
1     207
7      12
Name: Survey_Reliability, dtype: int64
4    3446
3    3423
2    1380
5    1308
6     219
1     211
7      13
Name: Survey_Options, dtype: int64
4    3464
3    3371
5    1403
2    1319
6     220
1     213
7      10
Name: Survey_Hours_of_Treatment, dtype: int64
4    3487
3    3456
2    1345
5    1274
1     215
6     212
7      11
Name: Survey_Courteous_Staff, dtype: int64
3    3401
4    3337
5    1429
2    1391
6     221
1     209
7      12
Name: Survey_Evidence_of_Active_Listening, dtype: int64

In [16]:
#This will be the code to feature engineer our dependent variable
#We will classify our patients by their initial length of stay - either being greater than 7 days or shorter.

med_df['Long_Term_Stay'] = med_df['Initial_days'].apply(lambda x: 1 if x > 7 else 0)

#We can print out the dataframe here and see that our apply properly mapped 1 and 0's to the appropriate observations to be utilized as our dependent variable
med_df

,CaseOrder,Customer_id,Interaction,UID,City,State,County,Zip,Lat,Lng,...,Additional_charges,Survey_Timely_Admission,Survey_Timely_Treatment,Survey_Timely_Visits,Survey_Reliability,Survey_Options,Survey_Hours_of_Treatment,Survey_Courteous_Staff,Survey_Evidence_of_Active_Listening,Long_Term_Stay
0,1,C412403,8cd49b13-f45a-4b47-a2bd-173ffa932c2f,3a83ddb66e2ae73798bdf1d705dc0932,Eva,AL,Morgan,35621,34.34960,-86.72508,...,17939.403420,3,3,2,2,4,3,3,4,1
1,2,Z919181,d2450b70-0337-4406-bdbb-bc1037f1734c,176354c5eef714957d486009feabf195,Marianna,FL,Jackson,32446,30.84513,-85.22907,...,17612.998120,3,4,3,4,4,4,3,3,1
2,3,F995323,a2057123-abf5-4a2c-abad-8ffe33512562,e19a0fa00aeda885b8a436757e889bc9,Sioux Falls,SD,Minnehaha,57110,43.54321,-96.63772,...,17505.192460,2,4,4,4,3,4,3,3,0
3,4,A879973,1dec528d-eb34-4079-adce-0d7a40e82205,cd17d7b6d152cb6f23957346d11c3f07,New Richland,MN,Waseca,56072,43.89744,-93.51479,...,12993.437350,3,5,5,3,4,5,5,5,0
4,5,C544523,5885f56b-d6da-43a3-8760-83583af94266,d2f0425877b10ed6bb381f3e2579424a,West Point,VA,King William,23181,37.59894,-76.88958,...,3716.525786,2,1,3,3,5,3,4,3,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,9996,B863060,a25b594d-0328-486f-a9b9-0567eb0f9723,39184dc28cc038871912ccc4500049e5,Norlina,NC,Warren,27563,36.42886,-78.23716,...,8927.642000,3,2,2,3,4,3,4,2,1
9996,9997,P712040,70711574-f7b1-4a17-b15f-48c54564b70f,3cd124ccd43147404292e883bf9ec55c,Milmay,NJ,Atlantic,8340,39.43609,-74.87302,...,28507.150000,3,3,4,2,5,3,4,4,1
9997,9998,R778890,1d79569d-8e0f-4180-a207-d67ee4527d26,41b770aeee97a5b9e7f69c906a8119d7,Southside,TN,Montgomery,37171,36.36655,-87.29988,...,15281.210000,3,3,3,4,4,2,3,2,1
9998,9999,E344109,f5a68e69-2a60-409b-a92f-ac0847b27db0,2bb491ef5b1beb1fed758cc6885c167a,Quinn,SD,Pennington,57775,44.10354,-102.01590,...,7781.678000,5,5,3,4,4,3,4,3,1
9999,10000,I569847,bc482c02-f8c9-4423-99de-3db5e62a18d5,95663a202338000abdf7e09311c2a8a1,Coraopolis,PA,Allegheny,15108,40.49998,-80.19959,...,11643.190000,4,3,3,2,3,6,4,3,1

<h3>C1.</h3>

This will mark the midway point for my data preparation. Given pre-existing knowledge of the dataset - I am aware that it is clean and has no need for imputation (no missing values). However, I have made a few adjustments to the data to better fit my preference. I find that having numeric values is easier to work with in the totality of a given project. It also communicates an ordinal value for model to better interpret relationship. Additionally - I have converted Yes and No values to binary values. While not necessarily required for specific models - it does keep interactions more consistent. Following that step - I went ahead with our feature engineering to generate the long-term and short-term categorization of our existing records. Post this commentary - I will implement feature scaling to limit impact of different scales amongst the different variables. Then I will split the dataset into a training and test set to allow for validation of the model. Additionally, I will run some checks to ensure that logistic regression assumptions are met (namely multicolinearity). The goals and preparation will remain similar to the previous to our previous implementation of linear regression.

(https://www.kdnuggets.com/2019/07/data-pre-processing-optimizing-regression-model-performance.html)

<h3>C2.</h3>

Summary statistics can be found in the second cell following our imports. They will be output from the describe method. That said - I believe it would be a bit excessive to try and have meaningful discussion surrounding the summary statistics for all of our variables. Therefore, I would like to point out some interesting behavior and draw attention to the inherent limitations of summary statistics